{% extends 'base.html.twig' %}

{% block title %}New Onboarding{% endblock %}

{% block body %}
    <h1>Create new Onboarding</h1>

    {{ include('onboarding/_form.html.twig') }}

    <a href="{{ path('onboarding_index') }}">back to list</a>
{% endblock %}
